.radioWrap {
  display: flex;
  .item {
    margin-right: 20px;
    &.current {
      box-shadow: inset 5px 5px 10px #b3b3b3, inset -5px -5px 10px #ffffff;
      label {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
