@import '@/styles/variable.scss';

.radioWrap {
  display: flex;
  .item {
    margin-right: 20px;
    &.current {
      box-shadow: $button_shadow_active;
      label {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
