@import '@/styles/variable.scss';

.button {
  cursor: pointer;
  font-family: 'Urbanist,sans-serif';
  color: $main_color;
  letter-spacing: 0.025em;
  border-radius: 4px;
  background-color: #e6e7ee;
  border: 1px solid transparent;
  border-color: $main_border_color;
  transition: all 0.2s ease;
  padding: 5px 10px;
  box-shadow: $button_shadow;
  border-radius: 8px;
  user-select: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &.disabled {
    box-shadow: none !important;
    cursor: not-allowed;
  }
  .content {
    transition: opacity 0.2s ease;
    opacity: 1;
    &.hidden {
      opacity: 0;
    }
  }
  &:active {
    box-shadow: $button_shadow_active;
  }
}
