$button_shadow: 2px 2px 5px #1e2022, -3px -3px 7px #303437;
$button_shadow_active: inset 5px 5px 10px #1a1c1e, inset -5px -5px 10px #33373a;
$main_color: #bcc5d4;
$main_border_color: #34393c;
$background_color: #272b2e;

$clickable_scale: scale(0.98);
$border_radius: 8px;
