@import '@/styles/variable.scss';

.wrap {
  position: relative;
  .switch {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid transparent;
    border-color: $main_border_color;
    box-shadow: $button_shadow;
    &:active {
      box-shadow: $button_shadow_active;
      transform: $clickable_scale;
    }
    .currentColor {
      cursor: pointer;
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
  .list {
    width: 180px;
    position: absolute;
    left: 0;
    top: -180px;
    padding: 0;
    margin: 0;
    transition: visibility 0.45s, opacity 0.5s;
    opacity: 0;
    visibility: hidden;
    font-size: 16px;
    color: $main_color;
    list-style: none;
    background-color: #e6e7ee;
    background-clip: padding-box;
    border: 1px solid $main_border_color;
    border-radius: 4px;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 0;
    justify-content: space-around;
    border-radius: 8px;
    &.visible {
      opacity: 1;
      visibility: visible;
    }
    .item {
      width: 30px;
      height: 30px;
      transition: box-shadow 0.2s;
      font-weight: 300;
      font-size: 0.875rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      margin-right: 10px;
      margin-bottom: 10px;
      box-shadow: $button_shadow;
      &.transparent {
        background-size: 10px 10px;
        background-position: 0 0, 5px 5px;
        background-image: linear-gradient(
            45deg,
            #eee 25%,
            transparent 0,
            transparent 75%,
            #eee 0,
            #eee
          ),
          linear-gradient(45deg, #eee 25%, #fff 0, #fff 75%, #eee 0, #eee);
      }
      &:nth-child(4n + 4) {
        margin-right: 0;
      }
      &:hover,
      &.current {
        box-shadow: $button_shadow_active;
      }
    }
  }
}
