html.dimmerIsDark {
  transition: filter 0.8s !important;
}
html.dimmerIsDark img,
html.dimmerIsDark video {
  filter: invert(100) hue-rotate(180deg) !important;
  transition: filter 0.8s !important;
}
html {
  background-color: transparent !important;
  transition: filter 0.5s !important;
}
html img {
  filter: invert(0) hue-rotate(0) !important;
  transition: filter 0.5s !important;
}
