@import '@/styles/variable.scss';

@keyframes rotateInfinity {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  opacity: 1;
  transition: opacity 0.25s;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(38, 40, 51, 0);
  font-weight: 400;
  text-align: center;
  user-select: none;
  color: $main_color;
  box-sizing: border-box;
  display: inline-block;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: rotateInfinity 0.75s linear infinite;
  width: 12px;
  height: 12px;
  border-width: 2px;
  vertical-align: middle;
  position: absolute;
  transform: translate(-50%, -50%);
}
