@import '@/styles/variable.scss';

.sliderContainer {
  position: relative;
  width: 320px;
  height: 20px;
  user-select: none;
  cursor: pointer;
  .sliderTrack {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 5px;
    transform: translateY(-50%);
    background-color: #ccc;
    cursor: pointer;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
    border-radius: $border_radius;
    font-family: $number_font_family;

    .process {
      height: 5px;
      position: absolute;
      background-color: $main_color;
      border-radius: $border_radius;
    }

    .sliderThumb {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: grab;
      box-shadow: 2px 2px 4px #b8b9be, 0px 0px 4px #fff;
      background-color: $background_color;
      border: 1px solid $main_border_color;
      &.press {
        transform: translate(-50%, -50%) scale(0.9);
      }
    }
    .value {
      color: $main_color;
      border: 1px solid $main_border_color;
      padding: 5px 10px;
      text-align: center;
      white-space: nowrap;
      box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
      border-radius: $border_radius;
      position: absolute;
      top: 10px;
      transform: translateX(-50%);
      margin: 0;
      margin-top: 5px;
      opacity: 0;
      transition: opacity 250ms, transform 250ms;
      background-color: $background_color;
      &.press {
        opacity: 1;
        transform: translateX(-50%) scale(0.95);
      }
      &.visible {
        opacity: 1;
      }
    }
  }
}
