* {
  padding: 0;
  margin: 0;
}
._vars {
  --color-shadow: 12, 13, 18;
  --color-light: 255, 255, 255;
  --color-glow: 0, 150, 255;
}
html {
  body {
    text-align: center;
    background-color: #e6e7ee;
    user-select: none;
    font-family: monospace;
    .wrapper {
      box-sizing: border-box;
      padding: 30px;
      width: 200px;
      .app-name {
        font-size: 20px;
        margin-top: 40px;
        font-family: monospace;
        color: #31344b;
        text-shadow: 1px 1px 1px #b3b3b3;
      }
      .flex-wrap {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-top: 20px;
        .section {
          width: 50%;
        }
      }
    }
    .button {
      width: 120px;
      height: 60px;
      letter-spacing: 0.025em;
      display: inline-block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-align: center;
      font-size: 18px;
      color: rgba(48, 52, 84, 1);
      border: 0.5px solid #e8e8e8;
      border-radius: 16px;
      background-color: rgba(238, 240, 245, 1);
      cursor: pointer;
      outline: none;
      font-size: 20px;

      -webkit-transition: all 0.3s, text-shadow 0.3s, box-shadow 0.6s;
      transition: all 0.3s, text-shadow 0.3s, box-shadow 0.6s;
      box-shadow: 2px 2px 5px #b8b9be, -1px -1px 15px #fff;
      &.small {
        width: 50px;
        height: 50px;
      }
      &:active {
        transform: scale(0.96);
      }
      &.cur,
      &:active {
        box-shadow: 1px 1px 1px rgba(var(--color-light), 1),
          inset -2px -2px 2px rgba(var(--color-light), 0.9),
          inset -3px -3px 4px rgba(var(--color-light), 0.9),
          inset -6px -6px 12px rgba(var(--color-light), 0.9),
          inset -8px -8px 16px rgba(var(--color-light), 0.9),
          -1px -1px 1px rgba(var(--color-shadow), 0.06),
          inset 2px 2px 2px rgba(var(--color-shadow), 0.08),
          inset 3px 3px 4px rgba(var(--color-shadow), 0.08),
          inset 6px 6px 12px rgba(var(--color-shadow), 0.08),
          inset 8px 8px 16px rgba(var(--color-shadow), 0.08);
      }
    }
  }
}

.switch {
  width: 52px;
  height: 31px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: rgb(230, 231, 238);
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px #b8b9be, -3px -3px 7px #fff;
  transition: border cubic-bezier(0, 0, 0, 1) 0.4s,
    box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
  &:before {
    content: "";
    width: 29px;
    height: 29px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition: left 0.3s;
  }
  &:checked {
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
    box-shadow: inset 5px 5px 10px #64bd63, inset -5px -5px 10px #fff;
    background-color: #64bd63;
    transition: border ease 0.4s, box-shadow ease 0.4s,
      background-color ease 0.4s;
    &:before {
      left: 21px;
      transition: left 0.3s;
    }
  }
}
